html {
  background: url('../img/variety.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  font-family: 'Anton', sans-serif;
  padding-bottom: 3em;
  letter-spacing: 1px;
}

.jumbotron {
  color:white;
  text-align: center;
  height: 50vh;
  background: rgba(0,0,0,0.4);
}

section {
  text-align: center;
  background: rgba(0,0,0,0.4);
  color: white;
}

.container {
  background: rgba(0,0,0,0.4);
  color: white;
}

.about h1 {
  margin-bottom: -0;
  padding-top: 4em;
}

.about ol li {
  text-align: left;
  padding: 6px 0;
}

.about {
  height: 60vh;
  width: auto;
}

.info {
  padding: 5em 1em;
}

.option {
  text-align: center;
  height: 80vh;
  width: auto;
  padding: 3em 0em;
}

.classify-body {
  height: 90vh;
}

@media screen and (max-width: 991px) {
  .about {
    height: auto;
    padding-bottom: 3em;
  }
  .about h1 {
    padding-top:2em;
  }
  .option {
    height: auto;
  }
  .info {
    height: auto;
  }
  .classify-body {
    height: auto;
  }
  .table {
    width: 90%;
    overflow: scroll;
  }
}

@media screen and (max-width: 543px) {
  .recs {
    height: auto;
    width: 450px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 480px) {
  .recs {
    height: auto;
    width: 300px;
    overflow-x: scroll;
  }
}
