{% extends 'base.html' %}
{% block body %}
    <h1>Welcome</h1>
    <br>
    <hr>
    <br>
    <form class="" action="/recommend" method="post">
      <label for="beer_name">Favorite Beer: </label>
      <input type="text" name="beer_name">

      <br>

      <label for="style">Choose the style of beer</label>
      <select class="" name="style">
        <option value="IPA">IPA</option>
        <option value="APA">APA</option>
        <option value="Stout">Porter/Stout</option>
        <option value="Pilsner">Pilsner</option>
        <option value="Cider">Cider</option>
        <option value="Golden/Blonde">Golden/Blonde</option>
      </select>

      <br>

      <label for="abv">ABV of beer: </label>
      <input type="number" step="0.01" name="abv">

      <br>

      <label for="ibu">IBU of beer: </label>
      <input type="number" name="ibu">
      <br>
      <input type="submit">
    </form>
{% endblock %}
