{% extends 'base.html' %}
{% block body %}
  <div class="container classify-body">
    <!-- Show image that was uploaded  -->
    <!-- If statement for a or an -->
    <img src="{{output}}" alt="did not work">
    <h1>Your beer is classified as
      {% if prediction["label"] == 0 %}
        <strong>APA!</strong>
      {% elif prediction["label"] == 1 %}
        <strong>Blonde/Golden!</strong>
      {% elif prediction["label"] == 2 %}
        <strong>Cider!</strong>
      {% elif prediction["label"] == 3 %}
        <strong>Hazy IPA!</strong>
      {% elif prediction["label"] == 4 %}
        <strong>Lager!</strong>
      {% elif prediction["label"] == 5 %}
        <strong>Stout/Porter!</strong>
      {% else  %}
        <strong>IPA!</strong>
      {% endif %}
     </h1>
    <br>
    <br>
    <h3>Do you want recommendations too?</h3>
    <!-- form -->
    <form class="col-md-6 col-md-offset-3 info" action="/recommend" method="post">
      <div class="form-group">
        <label for="beer_name">Beer Name</label>
        <input type="text" class="form-control" id="beer_name" name="beer_name" placeholder="Your favorite beer goes here" required>
      </div>
      <div class="form-group">
        <label for="style">Choose the style of beer</label>
        <select class="form-control" name="style">
          <option value="IPA">IPA</option>
          <option value="APA">APA</option>
          <option value="Stout">Porter/Stout</option>
          <option value="Pilsner">Pilsner</option>
          <option value="Lager">Lager</option>
          <option value="Hazy">Hazy</option>
          <option value="Cider">Cider</option>
          <option value="Golden/Blonde">Golden/Blonde</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="abv">ABV of beer: </label>
        <input type="number" class="form-control" step="0.01" name="abv" required>
      </div>
      <div class="form-group col-md-3">
        <label for="ibu">IBU of beer: </label>
        <input type="number" class="form-control" name="ibu" required>
      </div>
      <div class="form-group col-md-6">
        <label for="num_docs">How many recommendations?</label>
        <select class="form-control" name="num_docs">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
      <hr>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
{% endblock %}
