{% extends 'base.html' %}
{% block body %}
  <!-- Show table of recommendations -->
  <div class="container">
    <h1>If you enjoy drinking</h1>
    <table class="table">
      <thead>
        <tr>
          {% for col in target.keys() %}
            <th>{{col}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for val in target.values() %}
            <td>{{val}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <h1>Then you might also like...</h1>
    <table class="table">
          <thead>
            <tr>
              {% for col in colnames %}
                <th>{{col}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
              <tr>
                {% for col in colnames %}
                  <td>{{record[col]}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
{% endblock %}
